<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @order.description %>  
</p>

<p>Items:</p>
<table border="1">
  <thead>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Quantity</td>
    </tr>
  </thead>
  <tbody>
    <% @order.items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.product.price %></td>
        <td><%= item.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<p>Total amount: <%= number_to_currency @order.total_amount %></p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
